name: Build and deploy Node.js app to Azure Web App - inventorywebapp

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      # Disable Turbopack to avoid LightningCSS native issues
      - name: Build Next.js app
        run: npm run build
        env:
          NEXT_DISABLE_TURBOPACK: 1

      # Prepare deployment artifact
      - name: Prepare deployment package
        run: |
          mkdir deploy
          cp -R .next public package.json package-lock.json node_modules deploy/

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: deploy


  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_80145B2886564B2C9208E1C31F98495B }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_8629C4C6B9F648AA91A33B58575A0DDD }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_45402637D67041BB8148A8F6B73D6013 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: inventorywebapp
          slot-name: Production
          package: .
